<?php
// rename to config.inc.php after adding your username/password
$dbconfig = array();

$dbconfig['auth']['dsn'] = 'pgsql:dbname=dbname;host=dbserver';
$dbconfig['auth']['username'] = '';
$dbconfig['auth']['password'] = '';
$dbconfig['auth']['options'] = array(PDO::ATTR_PERSISTENT => true);
